@import url('http://fonts.cdnfonts.com/css/wolfgang-krauss');



.registredContact{
  text-align: start;
}

body{
  background-color: #42a5f5;
}



h1.MuiTypography-root.MuiTypography-h2.css-1sra7t5-MuiTypography-root {
  font-family: 'Wolfgang Krauss', sans-serif;
}

